<?xml version='1.0' encoding='utf-8'?>
<widget id="io.gestionasi.gfe_comaco" version="30000" xmlns="http://www.w3.org/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Control de Origen (Proveedores)</name>
    <description>
        Emisión guia electronica Proveedores Comaco
    </description>
    <author email="aandaur@gestionasi.cl" href="http://cordova.io">
        GESTIONASI
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="android-targetSdkVersion" value="34" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/android/comaco36.png" />
        <icon density="mdpi" src="res/icon/android/comaco48.png" />
        <icon density="hdpi" src="res/icon/android/comaco72.png" />
        <icon density="xhdpi" src="res/icon/android/comaco96.png" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge"
            target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        </config-file>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-device-motion" spec="^1.2.5" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-device" spec="~2.0.1" />
    <plugin name="cordova-plugin-geolocation" spec="~4.0.2" />
    <plugin name="cordova-plugin-insomnia" spec="~4.3.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="~3.1.0" />
    <plugin name="cordova-plugin-btprinter" spec="~0.0.1-dev" />
    <plugin name="cordova-plugin-ip-mac-address" spec="~1.0.1" />
    <plugin name="cordova-plugin-vibration" spec="~3.1.1" />
    <plugin name="cordova-plugin-app-version" spec="~0.1.12" />
    <hook src="node_modules/cordova-import-npm/scripts/importNpmPackages.js" type="before_prepare" />
    <engine name="browser" spec="^5.0.3" />
</widget>