.smart-select .item-after {
    text-align: right;
    white-space: normal !important;
    display: block;
    /* asegura que salte de línea */
    line-height: 1.4;
    /* mejor legibilidad */
}

.list .item-title {
    white-space: normal !important;

}


